.navbar {
            width: 1440px;
            padding: 15px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            box-shadow: 0 2px 8px rgb(0, 0, 0);
            position: fixed;
            top: 0px;
            left: 0px
        }

        .logo {
            display: flex;
            gap:10px;
            align-items: center;
        }

        .logo img{
            width: 35px;
            height:35px;
            border-radius: 50%;

        }

        .nav-links {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 30px;
        }
.head{
justify-content:left;
gap:20px;
}
.head a{
   margin-right: 10px;
   text-decoration: none;; 
}
.main-container{
  justify-content: space-evenly;
  display: flex;
}
.item{
  height: 300px;
  width: 250px;
  padding: 20px;
  border-radius:10px;
  background-color: #b8bac0;
 margin: 20px;
 font-family: cursive;
 font-size: 20px;
 box-shadow: 1px gray;
}
.item:hover{
 box-shadow: black;
}
.footer {
            background: #5F97A4;
            color: #e0e0e0;
            padding: 40px 20px 10px;
            font-family: 'Poppins', sans-serif;
        }

        .footer-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
            width: 1200px;
            margin-left: 250px;

        }

        .footer-box {
            flex: 1 1 250px;
        }

        .footer-box h3 {
            margin-bottom: 15px;
            color: #ffd78a;
            font-size: 20px;
        }

        .footer-box p {
            font-size: 15px;

        }

        .footer-box ul {
            padding: 0;
        }

        .footer-box ul li {
            margin: 8px 0;
        }

        .footer-box ul li a {
            color: #cccccc;
            transition: 0.3s;
        }

        .footer-box ul li a:hover {
            color: #ffd78a;
            padding-left: 5px;
        }

        .social-links a {
            font-size: 22px;
            margin-right: 10px;
            color: #ffd78a;
            transition: 0.3s;
        }

        .social-links a:hover {
            color: white;
        }

        .newsletter {
            text-align: center;
            margin: 40px auto;
            width: 600px;
        }

        .newsletter-box {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        .social-icons img {
            width: 28px;
            margin: 0 5px;
            transition: 0.3s;
        }
        .social-icons img:hover{
            transform: scale(1.2);
            background: #ffd78a;
            padding: 5px;
            border-radius:4px;

        }

        .newsletter input {
            padding: 12px;
            width: 60%;
            border-radius: 5px 0 0 5px;
        }

        .newsletter button {
            padding: 12px 20px;
            border: none;
            background: #ffd78a;
            color: black;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            transition: 0.3s;
        }

        .newsletter button:hover {
            background: white;
        }

        .footer-bottom {
            text-align: center;
            border-top: 1px solid #333;
            margin-top: 30px;
            padding-top: 10px;
        }

        .footer-bottom p {
            font-size: 14px
        }

        .social-links img {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            margin-top: 30px;
            border-radius: 5px;
            transition: 0.3s;
            align-items: center;
        }

        .social-links img:hover {
            transform: scale(1.2);
            background: #ffd78a;
            padding: 5px;
            border-radius:4px;
        }

        .newsletter {
            text-align: center;
            margin: 40px auto;
            width: 600px;
        }

        .newsletter-box {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .newsletter input {
            padding: 12px;
            width: 60%;
            border-radius: 5px 0 0 5px;
        }

        .newsletter button {
            padding: 12px 20px;
            border: none;
            background: #ffd78a;
            color: black;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            transition: 0.3s;
        }

        .newsletter button:hover {
            background: white;
        }

        .footer-bottom {
            text-align: center;
            border-top: 1px solid #333;
            margin-top: 30px;
            padding-top: 10px;
        }

        .footer-bottom p {
            font-size: 14px
        }
        .logo-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
}

.logo-text h1 {
    font-size: 40px;
    font-weight: bold;
}

.logo-text p {
    font-size: 20px;
}

.intro {
    text-align: center;
    padding: 40px 20px;
}

.intro h2 {
    font-size: 28px;
    color: #444;
    margin-bottom: 10px;
}

.intro p {
    width: 750px;
    margin: auto;
    font-size: 16px;
    color: #555;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
}

.infocard {
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgb(0,0,0);
    transition: 0.3s;
}

.infocard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 14px rgb(0,0,0);
}

.infocard img {
    width: 100%;
    height: 170px;
    border-radius: 8px;
}

.infocard h3 {
    margin-top: 10px;
    color: #333;
}

.infocard p {
    color: #555;
    margin-top: 6px;
    font-size: 14px;
}
@media (max-width: 992px) {

    
    .navbar {
        width: 100%;
        padding: 15px 20px;
    }

    .nav-links {
        gap: 18px;
        font-size: 15px;
    }

    video {
        width: 100%;
    }

    
    .intro p {
        width: 90%;
        font-size: 15px;
    }

    
    .info-cards {
        justify-content: center;
    }
    .infocard {
        width: 45%;
    }

   
    .footer-container {
        justify-content: center;
        text-align: center;
    }

    .footer-box {
        flex: 1 1 300px;
    }

    .newsletter {
        width: 90%;
    }
}
@media (max-width: 768px) {

    
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        height: auto;
    }
}