.navbar {
            width: 1440px;
            padding: 15px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            box-shadow: 0 2px 8px rgb(0, 0, 0);
            position: fixed;
            top: 0px;
            left: 0px
        }


        .logo {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .logo img {
            width: 35px;
            height: 35px;
            border-radius: 50%;

        }

        .logo span {
            font-size: 22px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
        }

        .nav-links {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 30px;
        }

        body {
            background-color: #dee8eb;
        }

        .welcome {
            text-align: center;
            padding: 10px;
            width: 1500px;
            background-color: #dee8eb;
        }

        .cards-section {
            padding: 40px;
            background: #bbcfdc;
            text-align: center;
            width: 1440PX;
        }

        .section-title {
            font-size: 28px;
            margin-bottom: 25px;
            color: rgb(9, 9, 9);
        }

        .cards-container {
            display: flex;
            justify-content: center;
            gap: 25px;
            flex-wrap: nowrap;
        }

        .card {
            width: 300px;
            background: #E3E3E3;
            border-radius: 12px;
            padding: 20px;
            box-shadow: 0 4px 15px rgb(0, 0, 0);
        }

        .card:hover {
            transform: translateY(-10px);
            background: #e2d4d4;
        }

        .service {
            border-radius: 10px;
        }

        .card-btn {
            display: inline-block;
            background: #1B3C53;
            color: #fff;
            padding: 10px 20px;
            border-radius: 6px;
        }

        .card-btn:hover {
            background: #492f49;
            transform: scale(1.08);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .trainers {
            padding: 50px 20px;
            text-align: center;
        }

        .trainers h2 {
            font-size: 32px;
            color: rgb(9, 9, 9);
            margin-bottom: 5px;
        }

        .team-intro {
            font-size: 16px;
            color: rgb(9, 9, 9);
            margin-bottom: 30px;
        }

        .trainer-cards {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        .trainer-card {
            width: 260px;
            background: hsl(203, 53%, 82%);
            border-radius: 20px;
            box-shadow: 0 4px 15px rgb(0, 0, 0);
            padding: 25px 15px;
            text-align: center;

        }

        .trainer-card:hover {
            box-shadow: 0 4px 15px rgb(0, 0, 0);
            background: hsl(202, 25%, 58%);
        }


        .trainer-img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid #f1f1f1;
            margin-bottom: 15px;
        }

        .trainer-card h3 {
            font-size: 20px;
            margin-bottom: 5px;
            color: #0a0a0a;
        }

        .trainer-card p {
            font-size: 14px;
            color: #0e0e0e;
            margin-bottom: 15px;
        }

        .social-icons img {
            width: 28px;
            margin: 0 5px;
            transition: 0.3s;
        }

        .footer {
            background: #5F97A4;
            color: #e0e0e0;
            padding: 40px 20px 10px;
            font-family: 'Poppins', sans-serif;
        }

        .footer-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
            width: 1200px;
            margin-left: 250px;

        }

        .footer-box {
            flex: 1 1 250px;
        }

        .footer-box h3 {
            margin-bottom: 15px;
            color: #ffd78a;
            font-size: 20px;
        }

        .footer-box p {
            font-size: 15px;

        }

        .footer-box ul {
            padding: 0;
        }

        .footer-box ul li {
            margin: 8px 0;
        }

        .footer-box ul li a {
            color: #cccccc;
            transition: 0.3s;
        }

        .footer-box ul li a:hover {
            color: #ffd78a;
            padding-left: 5px;
        }


        .social-links img {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            margin-top: 30px;
            border-radius: 5px;
            transition: 0.3s;
            align-items: center;
        }

        .social-links img:hover {
            transform: scale(1.2);
            background: #ffd78a;
            padding: 5px;
            border-radius: 4px;
        }


        .newsletter {
            text-align: center;
            margin: 40px auto;
            width: 600px;
        }

        .newsletter-box {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .newsletter input {
            padding: 12px;
            width: 60%;
            border-radius: 5px 0 0 5px;
        }

        .newsletter button {
            padding: 12px 20px;
            border: none;
            background: #ffd78a;
            color: black;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            transition: 0.3s;
        }

        .newsletter button:hover {
            background: white;
        }

        .footer-bottom {
            text-align: center;
            border-top: 1px solid #333;
            margin-top: 30px;
            padding-top: 10px;
        }

        .footer-bottom p {
            font-size: 14px
        }


        @media (max-width: 950px) {

            .navbar {
                width: 100%;
                padding: 15px 20px;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                position: static;
            }

            .nav-links {
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
            }

            .welcome {
                width: 100%;
                padding: 20px;
            }

            img[alt="about-logo"] {
                width: 100%;
                height: auto;
            }


            .cards-section {
                width: 100%;
                padding: 20px;
            }

            .cards-container {
                flex-direction: column;
                align-items: center;
            }

            .card {
                width: 90%;
            }


            .trainer-cards {
                flex-direction: column;
                align-items: center;
            }

            .trainer-card {
                width: 80%;
            }


            .footer-container {
                width: 100%;
                margin: 0;
                flex-direction: column;
                text-align: center;
            }

            .footer-box {
                width: 100%;
            }

            .newsletter {
                width: 90%;
            }

            .newsletter-box {
                flex-direction: column;
                gap: 10px;
            }

            .newsletter input,
            .newsletter button {
                width: 100%;
                border-radius: 5px;
            }
        }

        @media (max-width: 600px) {

            .navbar {
                padding: 10px;
            }

            .logo span {
                font-size: 16px;
            }

            .nav-links {
                gap: 10px;
                font-size: 14px;
            }

            .section-title {
                font-size: 22px;
            }

            .trainer-card {
                width: 95%;
            }

            .trainer-img {
                width: 100px;
                height: 100px;
            }

            .footer-box p,
            .footer-box ul li a {
                font-size: 14px;
            }

            .footer-bottom p {
                font-size: 12px;
            }
        }

        @media (max-width: 450px) {

            .logo img {
                width: 28px;
                height: 28px;
            }

            .logo span {
                font-size: 14px;
            }

            .nav-links {
                font-size: 12px;
                gap: 8px;
            }

            .card {
                padding: 15px;
            }

            .card img {
                width: 100%;
                height: auto;
            }

            .newsletter h3 {
                font-size: 16px;
            }

        }