body {
    font-family: Arial, sans-serif;
    background:#d0e7ef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #00796b;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background-color:#ebeff1;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
    color: #004d40;
}

.card p {
    font-size: 15px;
    color: #333333;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}